* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("..images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

/* ÜST MENÜ */
.topbar {
    background: rgba(0,0,0,0.7);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: rgba(0,0,0,0.4);
}

/* HİZMETLER */
.services {
    display: flex;
    gap: 20px;
    padding: 60px;
    background: rgba(0,0,0,0.6);
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 30px;
    border-radius: 12px;
    width: 100%;
}

.card a {
    display: inline-block;
    margin-top: 15px;
    color: orange;
    text-decoration: none;
    font-weight: bold;
}
